@import url("https://use.typekit.net/ory5afa.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*GENERAL*/
html, body,
#root {
  width: 100%;
  min-height: 100%;
}

.icuida-blue {
  background-color: #bdf0ff !important;
}

.icuida {
  overflow: hidden;
  height: 100%;
}