@import url("https://use.typekit.net/ory5afa.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*GENERAL*/
html, body {
  width: 100%;
  min-height: 100%;
}

body{
  font-family: 'myriad-pro','Montserrat','sans-serif';
  font-weight: 700;
  font-style: normal;
}