.main {
    width: 50%;
    margin: 50px auto;
}

.bs-example{
    margin: 20px;        
}
/*CARDS*/
.card1,
.card3,
.card5,
.card7,
.card9,
.card11{
    background-color: #fe6e60;
    color:#000000;
}

.card2,
.card4,
.card6,
.card8,
.card10,
.card12{
    background-color: #6BDEFF;
}

.div-col-lg-4{
    width: 100%;
    text-align: center; 
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 32px;
    font-weight: bold;
}

.h2{
    margin: 0 0 8px;
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #dbdfe5;
}

.p{
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.footer-container li a {
    color: #000000;
}