/*BUTTON*/
.btn-primary {
    color: #fff;
    background-color: #6BDEFF;
    border-color: #6BDEFF;
}

/* login */
.login{ 
        width: 60%; 
        margin: auto;
    }

/* Add media queries */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html, body,
    body,
    .btn-primary{
        width: 100%;
        } 
} 

@media only screen and (max-width:767px){
    .login{ 
        width: 100%; 
        margin: auto;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html, body,
    body,
    .btn-primary{
        width: 75%;
        }    
}  

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html, body,
    body,
    .btn-primary{
        max-width: 960px;    
        }    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
html, body,
body,
.btn-primary{
    width: 50%;
    }
#Login {
    padding: 200px;
}}