.bg-newcolor {
    background-color: #fe6e60;
  }
  
  .navbar-dark .navbar-toggler {
    color: #ffff;
    border-color: #ffff;
}
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.navbar {
    display: flex;
    align-items: center;
    color: #ffff;
    padding: 1rem 2rem;
    font-size: 16 px;
  }
  
  .breadcrumb {
    background-color: #eb9d96;
    border-radius: none;
    width: 100%; 
  }