/*NAV BAR*/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-newcolor {
  color:#000000;
  background-color: #fe6e60;
  }

.navbar-dark .navbar-toggler {
  color: #000000;
  background-color: #000000;
  border-color: #000000;
}

.navbar-toggler {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fe6e60;
  padding: 1rem 1rem;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  }

.navbar-nav{
  background-color: #6BDEFF;/*#eb9d96;*/
  border-radius: none;
  width: 100%; 
  }

  /*CHECK: COLOR CHANGE NAVBAR NOT WORKING*/
  a.navbar-brand, 
  a.nav-link.active.dropdown-toggle,
  a.nav-link.active,
  a.nav-link.active,
  a.nav-link,
  a.nav-link,
  a, a, a {
    color: #000000;
    font-size: 16px;
  }

  /*FOOTER*/
  .footer {
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0rem;
    border-top: 1px solid #dbe2e8;
}
