/*NAV BAR*/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-newcolor {
  background-color: #fe6e60;
  }

 /*breadcrumbs*/ 
  .bs-example{
    margin: 20px;
  }
.navbar-dark .navbar-toggler {
    color: #ffff;
    border-color: #ffff;
}

.navbar-toggler {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.navbar {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fe6e60;
    padding: 1rem 1rem;
  }

  .navbar-nav{
    background-color: #6BDEFF;/*#eb9d96;*/
    border-radius: none;
    width: 100%; 
  }

  /*HERO*/
  
  /*MAIN*/
  
  /*FOOTER*/
  .footer {
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0rem;
    border-top: 1px solid #dbe2e8;
}